#title{
    color:rgb(0, 0, 0)
}

body{
    padding:0px;
    background-color: black;
}
.nav{
    color:aqua;
    margin-left: 12vw;
    margin-top: 5px;
}
.navt{
    margin-top: 20px;
}
#img-1{
    width: 50vw;
    animation-name:slideright;
    animation-duration:2s;
    display:inline;
}
@keyframes slideright{
    from{
        transform: translate(-100%)
    }
    to{transform: translateX(0%);}
}
#text{
    color: white;
}
.img-1andtext{
    display: flex;
}